html, body, #root, .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
}

.logo {
  height: 150px;
  cursor: pointer;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  color: coral;
}

.themeFontColor {
  color: coral;
}

tr {
  cursor: pointer;
}